{% extends "index.html" %}
{% block title %} {{ super() }} Introdução {% endblock %}
{% block content %}
<div class="Div-intro column letters">
    <h1 class="titulo">Compiladores</h1>
    <img src="/static/img/comp.jpeg" id="img-comp">
    <p class="texto-intro">Compilador é um programa ou um conjunto de programas do qual é traduzido 
        uma linguagem de alto nível para um programa equivalente em código máquina especifico para um
        determinado processador. Passamos por diversas etapas(como as quais estão na imagem acima) e 
        a cada etapa nos foi proposto um conhecimento que neste projeto estamos pondo em prática todo o
        conhecimento. 
         </p>
    <p class="texto-intro">Neste projeto há 2 exemplos que demonstra o que nos foi ensinado.</p>
     </div> 
    {% endblock %}